@charset "UTF-8";
/**
* Eric Meyer's Reset CSS v2.0
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input, textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section, time {
  display: block;
}

body {
  line-height: 1;
  color: black;
  background: white;
}

a {
  color: inherit;
  text-decoration: none;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* meyerweb css reset end */

textarea:focus, input:focus {
  outline: 0;
}

input {
  border-width: 0;
}

em {
  font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}

.group:before,
.group:after {
  content: " ";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  zoom: 1; /* ie 6/7 */
}

embed,
img,
object,
video {
  max-width: 100%;
}
sup {
  font-size: 58.3%;
  vertical-align: text-top;
}
sub {
  font-size: 58.3%;
  vertical-align: text-bottom;
}
.no-space-between-inline-blocks {
  *letter-spacing: normal; /*reset IE < 8*/
  letter-spacing: -0.31em; /*webkit*/
  word-spacing: -0.43em; /*IE < 8 && gecko*/
}
/*restore spacing on inner elements*/
.no-space-between-inline-blocks > * {
  letter-spacing: normal;
  word-spacing: normal;
}
.displace {
  left: -5000px;
  position: absolute;
}
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:after,
*:before {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
html {
  font-size: 16px;
}
body {
  min-width: 1152px;
  color: #ffffff;
  font-family: Quicksand, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0;
  text-decoration: none;
}
.global_container_ {
  float: none;
  height: auto;
  margin: 0 auto;
  position: relative;
  width: 100%; /* 1280px / 1280px = 100% */
  background: #ffffff center 0;
  background-position: center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.bg {
  padding: 40px 0 47px;
  position: relative;
  width: 100%; /* 1280px / 1280px = 100% */
  background: url(images/livello_1.png) no-repeat center 0;
  background-position: center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.home {
  margin: 0 auto;
  position: relative;
  width: 1152px;
}
.navbar {
  margin: 0 auto;
  position: relative;
  width: 1149px;
}
.livello-8 {
  float: left;
}
.fa-shopping-cart-2 {
  float: right;
  margin: 10px 0 0;
}
.products {
  float: right;
  margin: 12px 54px 0 0;
  font-size: 18px;
  font-weight: bold;
}
.home-2 {
  float: right;
  margin: 12px 53px 0 0;
  font-size: 18px;
  font-weight: bold;
}
.text {
  margin: 223px 0 0;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
}
.text-2 {
  margin: 9px auto 0;
  width: 606px;
  font-family: QuicksandBook, serif;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
}
.fa-chevron-down-2 {
  display: block;
  margin: 274px auto 0;
}
.main-content-wrapper {
  overflow: hidden;
  position: relative;
}
.second {
  margin: 0 auto;
  padding: 46px 0 45px;
  position: relative;
  background: #f5f6f7;
}
.navbar-2 {
  margin: 0 auto;
  padding: 0 32px;
  position: relative;
  width: 1152px;
}
.left {
  float: left;
  margin: 14px 0 0;
  position: relative;
  width: 412px;
}
.rettangolo-2-holder {
  float: left;
  padding: 4px 0;
  position: relative;
  width: 25px;
  border: 2px solid #aa9b77; /*stroke*/
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #ffffff;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box; /*Will not allow bg color to leak outside borders*/
}
.fa-check-2 {
  display: block;
  margin: 0 auto;
}
.men {
  float: left;
  margin: 4px 0 0 18px;
  color: #333333;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}
.rettangolo-2-copia-holder {
  float: left;
  margin: 0 0 0 40px;
  padding: 4px 0;
  position: relative;
  width: 25px;
  border: 2px solid #aa9b77; /*stroke*/
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #ffffff;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box; /*Will not allow bg color to leak outside borders*/
}
.fa-check-copia {
  display: block;
  margin: 0 auto;
}
.women {
  float: left;
  margin: 3px 0 0 19px;
  color: #333333;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}
.children {
  float: right;
  margin: 3px 0 0;
  color: #333333;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}
.rettangolo-2-copia-2 {
  float: right;
  height: 24px;
  margin: 0 19px 0 0;
  width: 25px;
  border: 2px solid #cccccc; /*stroke*/
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #ffffff;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box; /*Will not allow bg color to leak outside borders*/
}
.right {
  float: right;
  min-height: 52px;
  width: 204px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #aa9b77;
  font-size: 14px;
  font-weight: bold;
  line-height: 52px;
  text-align: center;
  text-transform: uppercase;
}
.l-unconstrained {
  margin: 84px 0 0;
  position: relative;
}
.l-constrained {
  margin: 0 auto;
  padding: 0 21px;
  position: relative;
  width: 1152px;
}
.third {
  margin: 0 auto;
  position: relative;
  width: 1096px;
}
.row-9 {
  margin: 0 auto;
  position: relative;
  width: 1088px;
}
.forma-1 {
  float: right;
  height: 2px;
  margin: 10px 0 0;
  width: 996px;
  background: #cccccc;
}
.men-2 {
  color: #424242;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}
.text-4 {
  margin: 44px 0 0;
  color: #aa9b77;
  font-weight: bold;
  text-align: right;
}
.row-18 {
  margin: 6px 8px 0 1060px;
  position: relative;
}
.fa-chevron-left-2 {
  float: left;
  margin: 0 6px 0 0;
}
.fa-chevron-right-2 {
  float: left;
}
.row {
  margin: 17px auto 0;
  position: relative;
  width: 1088px;
}
.row > * {
  float: left;
  margin: 0 64px 0 0;
}
.row > *:last-child {
  margin-right: 0 !important;
}
.first {
  min-height: 378px;
  padding: 19px 0 17px;
  position: relative;
  width: 320px;
  border: 6px solid #aa9b77; /*stroke*/
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #f5f6f7;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box; /*Will not allow bg color to leak outside borders*/
}
.row-12 {
  margin: 0 auto;
  position: relative;
  width: 272px;
}
.row-12 > * {
  float: left;
  margin: 0 4px 0 0;
}
.row-12 > *:last-child {
  margin-right: 0 !important;
}
.size {
  color: #424242;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 4px !important;
}
.col-12 {
  position: relative;
  width: 177px;
}
.row-20 {
  margin: 0 auto;
  position: relative;
}
.fa-angle-down-2 {
  float: left;
  margin: 8px 143px 0 0;
}
.ellisse-1 {
  float: left;
  height: 21px;
  width: 22px;
  -webkit-border-radius: 11px/10.5px;
  -moz-border-radius: 11px/10.5px;
  border-radius: 11px/10.5px;
  background: #165eb9;
}
.livello-2 {
  display: block;
  margin: 48px auto 0;
}
.ellisse-2 {
  height: 21px;
  width: 22px;
  -webkit-border-radius: 11px/10.5px;
  -moz-border-radius: 11px/10.5px;
  border-radius: 11px/10.5px;
  background: #ffe637;
}
.ellisse-3 {
  height: 21px;
  width: 22px;
  -webkit-border-radius: 11px/10.5px;
  -moz-border-radius: 11px/10.5px;
  border-radius: 11px/10.5px;
  background: #535253;
}
.row-3 {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  align-items: center;
  display: table;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  justify-content: center;
  margin: 48px auto 0;
  position: relative;
}
.text-5 {
  display: inline-block;
  margin: 3px 0 0;
  color: #aa9b77;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}
.text-6 {
  display: inline-block;
  margin: 0 0 0 132px;
  color: #424242;
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
}
.second-2 {
  min-height: 378px;
  padding: 29px 17px 22px;
  position: relative;
  width: 320px;
  background: #f5f6f7;
}
.row-4 {
  margin: 0 0 0 8px;
  position: relative;
  width: 53px;
}
.fa-angle-down-copia {
  float: right;
  margin: 4px 0 0;
}
.text-7 {
  color: #424242;
  font-weight: bold;
  text-transform: uppercase;
}
.livello-3 {
  display: block;
  margin: 28px auto 0;
}
.row-13 {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  align-items: center;
  display: table;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  justify-content: center;
  margin: 28px auto 0;
  position: relative;
}
.text-8 {
  display: inline-block;
  margin: 1px 0 0;
  color: #aa9b77;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}
.text-9 {
  display: inline-block;
  margin: 0 0 0 35px;
  color: #424242;
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
}
.third-2 {
  min-height: 378px;
  padding: 27px 15px 24px;
  position: relative;
  width: 320px;
  background: #f5f6f7;
}
.text-10 {
  margin: 0 0 0 12px;
  color: #424242;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}
.livello-4 {
  display: block;
  margin: 39px auto 0;
  position: relative;
  right: 3.5px;
}
.row-14 {
  left: 6.5px;
  margin: 37px auto 0;
  position: relative;
  width: 277px;
}
.backpack {
  float: left;
  margin: 2px 90px 0 0;
  width: 102px;
  color: #aa9b77;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}
.text-11 {
  float: left;
  width: 85px;
  color: #424242;
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
}
.fourth {
  left: 8px;
  margin: 91px auto 0;
  position: relative;
  width: 1094px;
}
.row-10 {
  margin: 0 0 0 3px;
  position: relative;
}
.forma-1-2 {
  float: left;
  height: 2px;
  margin: 8px 8px 0 0;
  width: 996px;
  background: #cccccc;
}
.women-2 {
  color: #424242;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}
.text-12 {
  margin: 55px 0 0 1px;
  color: #aa9b77;
  font-weight: bold;
}
.row-19 {
  margin: 6px 1px 0;
  position: relative;
}
.fa-chevron-left-copia {
  float: left;
  margin: 0 6px 0 0;
}
.fa-chevron-right-copia {
  float: left;
}
.row-2 {
  margin: 23px 1px 0;
  position: relative;
}
.row-2 > * {
  float: left;
  margin: 0 64px 0 0;
}
.row-2 > *:last-child {
  margin-right: 0 !important;
}
.first-2 {
  min-height: 378px;
  padding: 26px 17px 21px;
  position: relative;
  width: 320px;
  background: #f5f6f7;
}
.row-5 {
  margin: 0 0 0 8px;
  position: relative;
  width: 55px;
}
.fa-angle-down-copia-2 {
  float: right;
  margin: 4px 0 0;
}
.size-2 {
  color: #424242;
  font-weight: bold;
  text-transform: uppercase;
}
.livello-5 {
  display: block;
  margin: 39px auto 0;
  position: relative;
  right: 9.5px;
}
.row-17 {
  left: 4px;
  margin: 38px auto 0;
  position: relative;
  width: 278px;
}
.giacket {
  float: left;
  margin: 2px 104px 0 0;
  width: 89px;
  color: #aa9b77;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}
.text-13 {
  float: left;
  width: 85px;
  color: #424242;
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
}
.second-3 {
  min-height: 378px;
  padding: 26px 11px 19px;
  position: relative;
  width: 320px;
  background: #f5f6f7;
}
.row-6 {
  margin: 0 0 0 13px;
  position: relative;
  width: 55px;
}
.fa-angle-down-copia-3 {
  float: right;
  margin: 4px 0 0;
}
.text-14 {
  color: #424242;
  font-weight: bold;
  text-transform: uppercase;
}
.livello-6 {
  display: block;
  margin: 79px auto 0;
}
.row-15 {
  left: 6.5px;
  margin: 79px auto 0;
  position: relative;
  width: 285px;
}
.text-15 {
  float: left;
  margin: 1px 30px 0 0;
  width: 170px;
  color: #aa9b77;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}
.text-16 {
  float: left;
  width: 85px;
  color: #424242;
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
}
.third-3 {
  min-height: 378px;
  padding: 23px 5px 19px;
  position: relative;
  width: 320px;
  background: #f5f6f7;
}
.row-7 {
  left: 2.5px;
  margin: 0 auto;
  position: relative;
  width: 265px;
}
.size-3 {
  float: left;
  margin: 3px 0 0;
  color: #424242;
  font-weight: bold;
  text-transform: uppercase;
}
.fa-angle-down-copia-4 {
  float: left;
  margin: 7px 0 0 8px;
}
.color-2 {
  float: right;
  height: 21px;
  width: 22px;
  -webkit-border-radius: 11px/10.5px;
  -moz-border-radius: 11px/10.5px;
  border-radius: 11px/10.5px;
  background: #ffffff;
}
.color-1 {
  float: right;
  height: 21px;
  margin: 0 8px 0 0;
  width: 22px;
  -webkit-border-radius: 11px/10.5px;
  -moz-border-radius: 11px/10.5px;
  border-radius: 11px/10.5px;
  background: #d3a7ac;
}
.livello-7 {
  display: block;
  margin: 30px auto 0;
}
.row-16 {
  left: 13px;
  margin: 34px auto 0;
  position: relative;
  width: 284px;
}
.text-17 {
  float: left;
  margin: 0 115px 0 0;
  width: 85px;
  color: #aa9b77;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}
.text-18 {
  float: left;
  width: 84px;
  color: #424242;
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
}
.fifthy {
  margin: 131px auto 0;
  padding: 69px 0 71px;
  position: relative;
  background: #aa9b77;
}
.text-19 {
  margin: 0 auto;
  position: relative;
  width: 1152px;
}
.wrapper {
  height: 260px;
  margin: 0 auto;
  position: relative;
  width: 713px;
}
.forma-6 {
  height: 251px;
  left: 50%;
  position: absolute;
  top: 9px;
  width: 2px;
  background: #918363;
  margin-left: 354.5px;
}
.forma-5 {
  height: 251px;
  left: 50%;
  position: absolute;
  top: 9px;
  width: 2px;
  background: #918363;
  margin-left: -356.5px;
}
.forma-7 {
  left: 50%;
  position: absolute;
  top: 9px;
  margin-left: 64.5px;
}
.forma-8 {
  height: 2px;
  left: 50%;
  position: absolute;
  top: 8px;
  width: 293px;
  background: #918363;
  margin-left: -356.5px;
}
.text-20 {
  left: 50%;
  position: absolute;
  top: 0;
  color: #837659;
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
  text-transform: uppercase;
  margin-left: -52.5px;
}
.text-21 {
  left: 50%;
  position: absolute;
  top: 96px;
  width: 489px;
  color: #424242;
  font-weight: bold;
  line-height: 24px;
  text-align: center;
  margin-left: -244.5px;
}
.forma-4 {
  height: 2px;
  margin: 0 auto;
  width: 711px;
  background: #918363;
}
.footer {
  margin: -1px 0 0;
  position: relative;
}
.footer-2 {
  position: relative;
}
.rettangolo-12-holder {
  overflow: hidden;
  padding: 24px 0;
  position: relative;
  background: #535253;
}
.l-constrained-2 {
  margin: 0 auto;
  position: relative;
  width: 1152px;
}
.fa-twitter-2 {
  float: left;
  margin: 0 19px 0 0;
}
.text-22 {
  margin: 5px 0 0;
  font-weight: bold;
}
.row-8 {
  margin: -1px 0 0;
  padding: 107px 0 110px;
  position: relative;
  background: #424242;
}
.l-constrained-3 {
  margin: 0 auto;
  position: relative;
  width: 1152px;
}
.col {
  float: left;
  position: relative;
  width: 317px;
}
.trekking {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}
.text-23 {
  margin: 14px 0 0;
  width: 317px;
  font-size: 10px;
  font-weight: bold;
  line-height: 20px;
  text-transform: uppercase;
}
.col-2 {
  float: right;
  margin: 46px 0 0;
  position: relative;
  width: 276px;
}
.text-24 {
  font-size: 14px;
  font-weight: bold;
  text-align: right;
  text-transform: uppercase;
}
.text-25 {
  margin: 13px 0 0;
  font-size: 18px;
  font-weight: bold;
  text-align: right;
}
.text-style {
  font-family: MyriadPro, serif;
  font-weight: normal;
}
.coloraa9b77 {
  color: #aa9b77;
}
